/*.add-form{
    height:100px;
}*/

.navbar-toggle{
    float: right;
    width: auto!important;
}
body{
    font-family: 'Poppins', sans-serif;
}

.nav{
    font-size: 14px;
}

.cardBox {
    height: 200px;
    border: black medium solid;
    border-spacing: 5px;
    border-radius: 5%;
    margin:auto;
    margin-top: 10px;
    margin-bottom: 30px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}